# Miscellaneous
*.log
*.swp
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# IDE
.idea/
.vscode/*
!.vscode/extensions.json

# Dependencies / build output (each app also has its own .gitignore)
node_modules/
dist/
build/
